- name: Check if old group exists
  ansible.builtin.getent:
    database: group
    key: "{{ modify_group_old_name }}"
  register: old_group
  failed_when: old_group.failed

- name: get teh list of groups
  ansible.builtin.getent:
    database: group
  register: all_groups

- name: fail if new group exists
  ansible.builtin.fail:
    msg: "new name exists"
  when: modify_group_new_name in all_groups.ansible_facts.getent_group.keys()

- name: Rename the group
  ansible.builtin.command:
    cmd: groupmod -n {{ modify_group_new_name }} {{ modify_group_old_name }}